C1_INFRA_AWS_ACCESS_KEY = "access_key"
C1_INFRA_AWS_SECRET_KEY = "secret_key"

CF_CI_Q9_API_RW_TOKEN    = "token_write_cloudflare_dns_zone"
c1_infra_IPSEC_PRESHARE_KEY = "ipsec_preshare_key"

/* vars for global vars - ro */
C1_GLOBAL_VAR_ACCESS_KEY = "access_key"
C1_GLOBAL_VAR_SECRET_KEY = "secret_key"