c99_devops_AWS_ACCESS_KEY = "access-key"
c99_devops_AWS_SECRET_KEY = "secret-key"
c99_devops_CF_API_RW_TOKEN = "cloudflare write access token"
c99_devops_IPSEC_PRESHARE_KEY = "example_key

/* vars for global vars */
c99_GLOBAL_VAR_ACCESS_KEY = "example-access-key"
c99_GLOBAL_VAR_SECRET_KEY = "example-secret-key"